.container {
  width: 300px;
  height: 300px;
  border: 1px solid grey;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
  
.counter {
  display: flex;
  flex: 1; 
  background-color: grey;
  justify-content: center;
  align-items: center;
}

.buttonsPanel {
  display: flex;
  flex-direction: row;
}


.decrement {
  background-color: red;
}

.reset {
background-color: orange;    
}

.increment {
background-color: green;     
}